<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<div id="header">
    <!-- fxLayout.gt-xs pour les formats ecrans inferieur a 600px
    https://github.com/angular/flex-layout/wiki/Responsive-API -->
  <mat-toolbar color="primary" fxLayout='column' fxLayout.gt-xs='row' fxLayoutAlign='space-around center'> 
      <!-- https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html -->
      <ng-container *ngFor="let link of getListeLink()">          
            <span  *ngIf="link.position=='header'">
              <a id="{{ link.id }}" href="{{ link.url }}" (click)="selectedMenu(link)" [style.color]="getLinkSelected() == link ? '#ccc' : 'white'">{{ link.name }}</a>
            </span>
      </ng-container>
  </mat-toolbar> 
</div>